/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 déc. 2016, 14:17:30
    Author     : proprietaire
*/


.panel-body{
	color:white;
}

#poster>a>img{
	width:200px;
}
h1{
	color:white;
}

p{
	color: white;
}

.succes{
	color: black;
}



footer{
    background-color: #222222;
    color: white;
	text-align:center;
	
}
footer a{
	color:white;
	
}

.social{
	margin-top:20px;
}

body{
	background-image: url('../img/grey.jpg') ;
}
#copyright{
    color:white;
    background-color:black;
	text-align: center;
   
}
#plan{
    background-color:white;
    color:black;
	margin-top:30px;
}


